p {
    font-family: sans-serif;
}

button {
    position: absolute;
    width: 150px;
    padding: 10px;
    font-family: sans-serif;
    z-index: 1;
}

.left {
    left: calc(50% - 170px);
}

.right {
    left: calc(50% + 20px);
}

#timeline-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

#timeline-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px;
    background-color: black;
    z-index: 0;
}

#tooltip {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}