p {
    font-family: sans-serif;
}

#tooltip {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}