html {
    background: lightgray;
}

body {
    height: 100%;
    margin: 0px;
    background: lightcyan;
    font-family: Cambria;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: normal;
}

footer {
    background: lightskyblue;
    background-size: 100px 100px;
    font-family: sans-serif;
    padding: 16px;
}

.button {
    position: absolute;
    height: 30px;
    width: 30px;
    left: calc(50% - 12.5px);
    border-radius: 50%;
    background-color: #007200;
    z-index: 1;
    border: none;
}

.left-year {
    position: absolute;
    left: calc(50% + 25px);
    font-weight: bold;
    font-size: 20px;
    font-family: Helvetica;
}

.right-year {
    position: absolute;
    left: calc(50% - 65px);
    font-weight: bold;
    font-size: 20px;
    font-family: Helvetica;
}

#timeline-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    top: 0px;
}

#timeline-line {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    width: 4px;
    background-color: black;
    z-index: 0;
}

#tooltip {
    display: none;
    position: absolute;
    background-color: #f6fffb;
    border: 1px solid #28f190;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}